# Assignemt 16

Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [40]:
years_list = [1996,1997,1998,1999,2000,2001]
years_list

[1996, 1997, 1998, 1999, 2000, 2001]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [23]:
#third birthday
years_list[2]

1998

In [24]:
#third birthday
years_list[-4]

1998

Q3.In the years list, which year were you the oldest?

In [21]:
#oldest
years_list[5]

2001

In [22]:
#oldest
years_list[-1]

2001

Q4. Make a list called things with these three strings as elements: ""mozzarella", "cinderella"
"salmonella".

In [39]:
things=["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

Q5.Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [187]:
things[1]=things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

Yes the element got capitalized

Q6. Make a surprise list with the elements "Groucho", "Chicho","Harpo"

In [175]:
surprise=["Groucho", "Chicho","Harpo"]
surprise

['Groucho', 'Chicho', 'Harpo']

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [184]:
surprise[2]=surprise[2].lower()
surprise[2]=surprise[2][::-1]
surprise[2]=surprise[2].capitalize()
surprise[2]
surprise

['Groucho', 'Chicho', 'Oprah']

Q8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [190]:
e2f={'dog':'chien', 'cat':'chat', 'walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Q9. Write the French word for walrus in your three-word dictionary e2f.

In [193]:
e2f['walrus']

'morse'

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [202]:
f2e={}
for english, french in e2f.items():
    f2e[french]=english

In [203]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

In [204]:
f2e['chien']

'dog'

Q12. Make and print a set of English words from the keys in e2f.

In [205]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys:'animals', 'plants',
and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and
'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri','Grump', and 'Lucy'.
Make all the other keys refer to empty dictionaries.

In [210]:
 life = { 
    'animals': { 
        'cats': [ 
            'Henri', 'Grumpy', 'Lucy'            ], 
        'octopi': {},
        'emus': {} 
    }, 
    'plants': {}, 
    'other': {}
}

Q14. Print the top-level keys of life.

In [212]:
print( list (life.keys() ) )

['animals', 'plants', 'other']

Q15. Print the keys for life['animals'].

In [214]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

Q16. Print the values for life'['animals']['cats']

In [215]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']